---
// You can add props here if you want to customize the text later

---

<section class="section bg-gray-100">
  <div class="container content py-16">
    <div class="row">
      <div class="col-12 text-center prose prose-slate prose-xl mx-auto">
        <h4>Want to learn more? </h4>
        <p class="pb-4">
            Please visit our <a href="/faqs">Frequently Asked Questions</a> or email us at <a href="mailto:story@gmail.com">story@gmail.com</a>.
          
        </p>
      </div>
    </div>
  </div>
</section>
