---
// You can add props here if you want to customize the text later

---

<section class="section bg-primary">
  <div class="container py-16">
    <div class="row">
      <div class="col-12 text-center  mx-auto">
        <h3 class="text-light">Want to learn more? </h3>
        <p class="my-4 text-lg text-light">
            Please visit our <a href="/faqs" class="underline hover:text-secondary/90">Frequently Asked Questions</a> or email us at <a href="mailto:info@storyconsortium.org" class="underline hover:text-secondary/90">info@storyconsortium.org</a>.
          
        </p>
      </div>
    </div>
  </div>
</section>
