---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

import config from "@config/config.json";

interface Props {
  src?: ImageMetadata;
  class?: string;
}

const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
const { src, class: className } = Astro.props;
---

<a href="/" class={`navbar-brand block ${className}`}>
  {
    src ? (
      <Image
        width={logo_width.replace("px", "") * 2}
        height={logo_height.replace("px", "") * 2}
        src={src}
        alt={logo_text || title}
      />
    ) : logo ? (
      <Image
        width={logo_width.replace("px", "") * 2}
        height={logo_height.replace("px", "") * 2}
        src={logo}
        alt={logo_text || title}
      />
    ) : (
      logo_text || title
    )
  }
</a>
