{
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "proseWrap": "preserve",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["*.astro"],
      "options": {
        "parser": "astro"
      }
    }
  ]
}
