---
import config from "@config/config.json";
import Authors from "@components/Authors.astro";
import Base from "@layouts/Base.astro";
import Pagination from "@components/Pagination.astro";
import { getAllAuthors } from "@lib/contentParser";
import { sortByDate } from "@lib/utils/sortFunctions";
import { markdownify } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const authors = await getAllAuthors();
  const totalPages = Math.ceil(authors.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        page: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { page } = Astro.params;
const authors = await getAllAuthors();
const sortedPosts = sortByDate(authors);
const totalPages = Math.ceil(authors.length / config.settings.pagination);
const currentPage = page && !isNaN(Number(page)) ? Number(page) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);
---

<Base title={"Authors"}>
  <section class="section">
    <div class="container text-center">
      <h1 transition:animate="slide" set:text={markdownify("Authors")} class="page-heading font-bold text-3xl md:text-4xl" />
      <Authors authors={currentPosts} />
      <Pagination
        section={"authors"}
        currentPage={currentPage}
        totalPages={totalPages}
      />
    </div>
  </section>
</Base>
