.btn {
  @apply inline-block rounded-lg border px-6 py-3 font-semibold transition cursor-pointer;
}

.btn-primary {
  @apply bg-primary text-white hover:text-white;
}

.btn-outline-primary {
  @apply border-primary bg-transparent hover:bg-primary hover:text-white;
}
