/* navbar items */
.navbar {
  @apply relative flex max-w-[1260px] flex-wrap items-center justify-between;
}

.navbar-brand img {
  @apply h-auto max-w-[243px] sm:h-auto sm:max-w-full;
}

.navbar-nav {
  @apply text-left;
}

.nav-item {
  @apply mx-1;
}

.nav-link {
  @apply p-3 text-lg font-semibold text-dark transition hover:text-secondary md:p-4;
}

.nav-dropdown-list {
  @apply z-10 rounded-lg bg-white px-8 py-3 transition;
}

.nav-dropdown-item {
  @apply my-2;
}

.nav-dropdown-link {
  @apply block min-w-[150px] py-1 text-[17px] font-semibold text-dark transition hover:text-secondary;
}
label[for="nav-toggle"] {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none;     /* IE 10 and 11 */
  user-select: none;         /* Standard syntax */
}
/* Hide the close icon by default */
.nav-close { display: none; }

/* When the checkbox is checked, swap the icons */
#nav-toggle:checked ~ label .nav-open { display: none; }
#nav-toggle:checked ~ label .nav-close { display: block; }

/* search style */
.search-modal {
  @apply invisible absolute top-0 left-0 right-0 z-10 h-10 bg-white opacity-0 transition md:h-full;
}

.search-modal .form-input {
  @apply h-full w-full border-0 text-lg;
}

.search-modal .search-close {
  @apply absolute top-1/2 right-2 -translate-y-1/2 p-3 text-h4;
}

.search-modal.open {
  @apply visible opacity-100;
}
