---
import Base from "@layouts/Base.astro";
import ContentHeader from "@components/ContentHeader.astro";
import { getAllPostTags } from "@lib/contentParser";
import { humanize } from "@lib/utils/textConverter";

import { FaHashtag } from "react-icons/fa/index.js";

const tags = await getAllPostTags();
---

<Base title={"Tags"}>
  <section>
    <div class="container text-center">
      <ContentHeader title={"Tags"} />
      <ul class="space-x-4">
        {
          tags.map((tag) => (
            <li class="inline-block">
              <a
                href={`/tags/${tag}`}
                class="rounded-lg bg-theme-light px-4 py-2 text-dark transition hover:bg-primary hover:text-white flex items-center group"
              >
                <FaHashtag className="mr-1 text-primary group-hover:text-white transition" />
                <>{humanize(tag || "")}</>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Base>
