---
import Base from "@layouts/Base.astro";
import Posts from "@layouts/Posts.astro";
import { getSinglePage } from "@lib/contentParser.astro";
import { getTaxonomy } from "@lib/taxonomyParser.astro";
import taxonomyFilter from "@lib/utils/taxonomyFilter";

export async function getStaticPaths() {
  const categories = await getTaxonomy("posts", "categories");

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const posts = await getSinglePage("posts");
const filterByTags = taxonomyFilter(posts, "categories", category);
---

<Base title={category}>
  <div class="section">
    <div class="container">
      <h1 class="h2 mb-8 text-center">
        Showing posts from <span class="text-primary">{category}</span> category
      </h1>
      <Posts posts={filterByTags} />
    </div>
  </div>
</Base>
