---
import Base from "@layouts/Base.astro";
import Posts from "@components/Posts.astro";
import { getAllPosts, getAllPostCategories } from "@lib/contentParser";
import taxonomyFilter from "@lib/utils/taxonomyFilter";
import { humanize } from "@lib/utils/textConverter";

export async function getStaticPaths() {
  const categories = await getAllPostCategories();

  return categories.map((category) => {
    return {
      params: { category },
    };
  });
}

const { category } = Astro.params;

const posts = await getAllPosts();
const filterByCategory = taxonomyFilter(posts, "categories", category);

const title = humanize(category || "")
---

<Base title={title || "Category"}>
  <div class="section">
    <div class="container">
      <p class="text-center mb-4">Showing Posts From</p>
      <h1 transition:animate="slide" class="h2 mb-16 text-center text-primary">{title}</h1>
      <Posts posts={filterByCategory} fluid={false} />
    </div>
  </div>
</Base>
