---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import type { CollectionEntry } from "astro:content";
import { getEntry, render } from "astro:content";
const entry = (await getEntry("pages", "404")) as CollectionEntry<"pages">;
const { Content } = await render(entry);
---

<Base title={entry.data.title}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <h1 class="mb-4" set:html={markdownify(entry.data.title)} />
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
