---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("pages", "404");
const { Content } = await entry.render();
---

<Base title={entry.data.title}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <h1 class="mb-4" set:html={markdownify(entry.data.title)} />
          <Content />
        </div>
      </div>
    </div>
  </section>
</Base>
