---
import Base from "@layouts/Base.astro";
import ContentHeader from "@components/ContentHeader.astro";
---

<Base title={"Error 404"}>
  <div class="container">
    <ContentHeader title={"Error 404"} subTitle={"Page Not Found"} />
  </div>
</Base>
