---
import Base from "@layouts/Base.astro";

const title = "Error 404";
---

<Base title={title}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <h1 transition:animate="slide" class="mb-4">Error 404</h1>

          <h2>Page Not Found</h2>
        </div>
      </div>
    </div>
  </section>
</Base>
