---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import CTA from "@/components/CTA.astro";
---

<Base title="About Story">
  <section class="section">
    <div class="container content">
      <div class="row md:gx-4">
        
        <div class="col-10 offset-1 lg:col-4 lg:offset-4 sm:col-8 sm:offset-2 ">
          <Image src="/images/story-logo.png" alt="A bird." width="800" height="570" />
        </div>
      </div>
      <div class="row my-12">
        <div class="col-12 lg:col-3 xl:col-4 lg:border-r-8 border-primary pt-4">
          <h1 class="border-b-8 lg:text-center lg:border-b-0 border-primary py-4 m-0">About</h1>
        </div>
        <div class="col-12 lg:col-9 xl:col-8 pt-4 prose prose-slate prose-xl max-w-none ">
          <p class="mb-4 mt-0">
            The Small Town Outreach, Recruitment and Yield (STORY) consortium was formed in 2023 as a creative solution to a bigger question: How can our institutions effectively reach U.S. small-town and rural communities in a way that is both accessible and impactful? While the consortium began with five institutions looking for a solution, it has expanded to include 35+ colleges and universities all dedicated to the same mission. 
          </p>
          <p class="mb-4">
            Our institutions represent a variety of higher education experiences, including public and private institutions, liberal arts colleges and research universities, women’s colleges and more. Together, we visit five small cities across a U.S. region each fall and spring, offering a college fair and programming that prepares students for the college search and admissions processes. We are intentional with our efforts to bring the college conversation directly to the backyard of small-town and rural communities and collaborate with local institutions that serve the areas we visit. We also partner to host virtual events throughout the year to remain accessible to all students. 
          </p>
          <p class="mb-4">
            The goal of our in-person and virtual programming is to help students identify colleges that might be a good fit for them through general information about the college process, panels and one-on-one conversations with individual admissions representatives.
          </p>
        </div>
        </div>
        
      <div class="row my-12">
        <div class="col-12 lg:col-3 xl:col-4 lg:border-r-8 border-accent-purple">
          <h1 class="border-b-8 lg:text-center lg:border-b-0 border-accent-purple py-4 m-0">Mission</h1>
        </div>
        <div class="col-12 lg:col-9 xl:col-8 pt-4 prose prose-slate prose-xl max-w-none">
          <p class="mb-4 mt-0">
            The STORY Consortium is committed to empowering rural & small-town students – and the communities that support them – by preparing them for the college search and application process, with an aim of expanding access to higher education.
          </p>
        </div>
        </div>
        
      <div class="row my-12">
        <div class="col-12 lg:col-3 xl:col-4 lg:border-r-8 border-accent-red">
          <h1 class="border-b-8 lg:text-center lg:border-b-0 border-accent-red py-4 m-0">Where</h1>
        </div>
        <div class="col-12 lg:col-9 xl:col-8 pt-4 prose prose-slate prose-xl max-w-none">
          <p class="mb-4 mt-0">
            We host our in-person sessions in small cities with major highway access to rural communities, typically within a 100-mile radius. Prioritized locations are as accessible as possible to students, families and counselors from surrounding small-town and rural communities.
          </p>
          <p class="mb-4">
            Each fall and spring, STORY chooses a different region of the U.S. and travels throughout multiple states in that area to lead sessions for the rural communities that surround them. These regions are revisited every few years. 
          </p>
        </div>
        </div>
        
      <div class="row my-12">
        <div class="col-12 lg:col-3 xl:col-4 lg:border-r-8 border-accent-green">
          <h1 class="border-b-8 lg:text-center lg:border-b-0 border-accent-green py-4 m-0">Who</h1>
        </div>
        <div class="col-12 lg:col-9 xl:col-8 pt-4 prose prose-slate prose-xl max-w-none">
          <p class="mb-4 mt-0">
            STORY programming welcomes all students, with an intentional focus on students from small-town and rural environments. There is no specific definition that must be fulfilled to be considered a rural or small-town student. Rural and small-town cultures vary tremendously throughout the U.S., and we acknowledge that each of these areas is unique. It is up to each individual to reflect on the area they come from and to determine if they are a rural or small-town student. The questions below could help in this process.
          </p>
          <ul class="mb-4 list-disc space-y-2">
            <li>Do you feel that you have experienced a rural/small-town culture throughout your upbringing?</li>
            <li>Do you have limited access to grocery stores or shopping centers?</li>
            <li>Do you attend a public high school where students often have a long bus ride that covers a lot of ground?</li>
            <li>Do you have to travel long distances to compete in high school sports or activities?</li>
            <li>Do you have no/limited public transportation options where you live?</li>
            <li>Do your teachers often teach multiple different subjects and/or coach sports/lead extracurriculars as well?</li>
          </ul>
          <p class="mb-4">
            If you answer yes to one or multiple of these questions, you might consider yourself a small-town or rural student!
          </p>
        </div>
        </div>

      </div>
    </div>
  </section>
    <CTA />

</Base>
