---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import CTA from "@/components/CTA.astro";

import mapImg from "@/assets/images/past-events-map.png";
---

<Base title="In-Person Events">
  <section class="section">
    <div class="container content">
      <div class="row md:gx-4">
        <div class="col-10 offset-1 md:col-4 md:offset-4 sm:col-8 sm:offset-2">
          <Image
            src="/images/story-logo.png"
            alt="STORY Logo"
            width={800}
            height={570}
          />
        </div>
      </div>
      <div class="row my-12">
        <div class="col-12 lg:col-3 lg:border-r-8 xl:col-4 border-primary ">
          <h1 class="border-b-8 lg:text-center lg:border-b-0 border-primary py-4 m-0">In-Person Events</h1>
        </div>
        <div class="col-12 lg:col-9 xl:col-8 prose prose-slate prose-xl max-w-none">
          <p class="mt-0 pt-4">
            Our in-person programs typically include an admission information session followed by a comprehensive college fair. The information session will cover details about the college process, including how to identify colleges that are a good fit, college affordability, and application advice specifically for rural and small-town students. We hope you will take advantage of the college fair to ask questions and discover colleges and universities you may not have heard of before!
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-4">
          <h2 class="border-b-8 border-accent-red py-4 m-0 inline-block ">Past Events</h2>
          <Image
            src={mapImg}
            alt="Map showing locations of past in-person events"
            width={1200}
            height={800}
            class="pt-4"
          />
          </div>
        </div>
        <div class="row max-w-5xl justify-self-center">
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-secondary">Fall 2023</h3> 
              <ul>
                <li>Bentonville, AR</li>
                <li>Tulsa, OK</li>
                <li>Wichita, KS</li>
                <li>Lincoln, NE</li>
                <li>Cedar Rapids, IA</li>
              </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-accent-green">Spring 2024</h3> 
              <ul>
                <li>Gallup, NM</li>
                <li>Grand Junction, CO</li>
                <li>Herriman, UT</li>
                <li>Pocatello, ID</li>
                <li>Jackson, WY</li>
              </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-accent-purple">Fall 2024</h3>
            <ul>
              <li>Moscow, ID</li>
              <li>Walla Walla, WA</li>
              <li>Bend, OR</li>
              <li>Redding, CA</li>
              <li>Reno, NV</li>
            </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-primary">Spring 2025</h3>
              <ul>
                <li>Johnson City, TN</li>
                <li>Charleston, WV</li>
                <li>Roanoke, VA</li>
                <li>Fayetteville, NC</li>
                <li>Macon, GA</li>
              </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-accent-red">Fall 2025</h3>
              <ul>
                <li>Natchitoches, LA</li>
                <li> Tyler, TX</li>
                <li>Bentonville, AR</li>
                <li>Tulsa, OK</li>
                <li>Wichita, KS</li>
              </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-accent-purple">Fall 2025 (Continued)</h3>
              <ul>
                <li>Lenox, MA</li>
                <li>Lebanon, NH</li>
                <li>Augusta, ME</li>
              </ul>
            </div>
            <div class="col-12 sm:col-6 md:col-4">
              <h3 class="font-primary m-0 py-2 border-b-8 border-accent-green">Spring 2026</h3>
              <ul>
                <li>Duluth, MN</li>
                <li>La Crosse, WI</li>
                <li>Granville, IL</li>
                <li>Kokomo, IN</li>
                <li>Kalamazoo, MI</li>
              </ul>
            </div>
          
        
          </div>

    </div>
  </section>
    <CTA  />
  </Base>