---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@components/Pagination.astro";
import Posts from "@components/Posts.astro";
import { getAllPosts } from "@lib/contentParser";
import { sortByDate } from "@lib/utils/sortFunctions";

const allPosts = await getAllPosts();

const featuredPosts = sortByDate(allPosts.filter(post => post.data.featured));
const otherPosts = sortByDate(allPosts.filter(post => !post.data.featured));

const posts = featuredPosts.concat(otherPosts).slice(0, 4);
---

<Base>
  <section class="section">
    <div class="container">
      <Posts posts={posts} fluid={false} className="mb-16" />
    </div>
  </section>
</Base>
