---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import CTA from "@/components/CTA.astro";

// This page will host the Slate Request for Information form
---

<Base title="Reach Out">
  <section class="section">
    <div class="container content">
      <div class="row md:gx-4">
        <div class="col-10 offset-1 md:col-4 md:offset-4 sm:col-8 sm:offset-2">
          <Image
            src="/images/story-logo.png"
            alt="STORY Logo"
            width={800}
            height={570}
          />
        </div>
      </div>
      <div class="row my-12">
        <div class="col-12 md:col-3">
          <h1>Reach Out</h1>
        </div>
        <div class="col-12 md:col-9 prose prose-slate prose-xl max-w-none">
          <p class="mt-0">
            Students, high school counselors and community-based organization advisors can fill out a brief form to share their information with STORY partner institutions. All data (form response) will be handled by each institution according to their privacy policy.
          </p>
        </div>
      </div>

      <div id="form_0f76a20c-e716-4bf5-8f8a-5ab6be776c4b">Loading...</div><script async="async" src=https://apps.admissions.yale.edu/register/?id=0f76a20c-e716-4bf5-8f8a-5ab6be776c4b&amp;output=embed&amp;div=form_0f76a20c-e716-4bf5-8f8a-5ab6be776c4b>/**/</script>
    </div>
  </section>
    <CTA />
</Base>
