---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import CTA from "@/components/CTA.astro";
import DownloadCard from "@/components/DownloadCard.astro";


---

<Base title="Resources">
  <section class="section">
    <div class="container content">
      <div class="row md:gx-4">
        <div class="col-10 offset-1 md:col-4 md:offset-4 sm:col-8 sm:offset-2">
          <Image
            src="/images/story-logo.png"
            alt="STORY Logo"
            width={800}
            height={570}
          />
        </div>
      </div>
      <div class="row my-12">
        <div class="col-12 lg:col-3 xl:col-4 lg:border-r-8 border-primary pt-4">
          <h1 class="border-b-8 lg:text-center lg:border-b-0 border-primary py-4 m-0">Resources</h1>
        </div>
        <div class="col-12 lg:col-9 xl:col-8 prose prose-slate prose-xl max-w-none">
          <p class="mt-0 pt-4">
            These resources may be helpful for students going through the college search and application process and to anyone supporting them, such as family members, counselors, teachers, coaches, librarians, mentors, supervisors, group leaders, and community members.
          </p>
        </div>
      </div>
      <div class="row my-12">
        <div class="col-12 lg:col-3 xl:col-4 lg:border-r-8 border-primary pt-4">
          <h2 class="border-b-8 lg:text-center lg:border-b-0 border-primary py-4 m-0">Financial Aid</h2>
        </div>

        <div class="col-12 lg:col-9 xl:col-8 prose prose-slate prose-xl max-w-none">
          <DownloadCard 
              href="/docs/STORY%20Financial%20Aid%20101.pdf" 
              title="STORY Financial Aid 101" 
              fileSize="200 KB" 
            />
        </div>
      </div>

    </div>
  </section>
  <CTA />
</Base>
