---
import Base from "@layouts/Base.astro";
import ContentHeader from "@components/ContentHeader.astro";
import Search from "@components/Search";

import { getAllPosts } from "@lib/contentParser";

// Retrieve all articles
const posts = await getAllPosts();

// List of items to search in
const searchList = posts.map((item) => ({
  slug: item.slug,
  data: item.data,
  content: item.body,
}));
---

<Base title="Search">
  <section>
    <div class="container">
      <ContentHeader title="Search" />

      <Search client:load searchList={searchList} />
    </div>
  </section>
</Base>
