---
import Base from "@layouts/Base.astro";
import ContentHeader from "@components/ContentHeader.astro";
import Services from "@components/Services.astro";

import { getAllServices } from "@lib/contentParser";

const title = 'Services';
const subTitle = '"It\s okay to be valued."';

//TODO sort?
const services = await getAllServices();
---

<Base>
  <ContentHeader title={title} subTitle={subTitle} />

  <section class="container mb-16">
    <Services services={services} />
  </section>
</Base>
