---
import Base from "@/layouts/Base.astro";
import { Image } from "astro:assets";
import CTA from "@/components/CTA.astro";

// This page will host the Slate Request for Information form
---

<Base title="Virtual Events">
  <section class="section">
    <div class="container content">
      <div class="row md:gx-4">
        <div class="col-10 offset-1 md:col-4 md:offset-4 sm:col-8 sm:offset-2">
          <Image
            src="/images/story-logo.png"
            alt="STORY Logo"
            width={800}
            height={570}
          />
        </div>
      </div>
      <div class="row my-12">
        <div class="col-12 md:col-3 md:border-r-8 border-primary pt-4">
          <h1 class="border-b-8 md:border-b-0 border-primary py-4 m-0">Virtual Events</h1>
        </div>
        <div class="col-12 md:col-9 prose prose-slate prose-xl max-w-none">
          <p class="mt-0 pt-4">
            Our virtual programming will feature sessions and workshops on all aspects of the college application process. Among other topics, you'll learn about application requirements and timelines, how to showcase your strengths in the application, and receive advice tailored specifically for rural students. Additionally, select STORY partners will host collaborative information sessions about their individual schools throughout the year.
          </p>
        </div>
      </div>

    </div>
  </section>
  <CTA  />
  </Base>
