---
import { Image } from 'astro:assets';
import ContentHeader from '@components/ContentHeader.astro';
import Social from "@components/Social.astro";

const { author } = Astro.props;
const { title, image, social } = author.data;
const { Content } = await author.render();
---

<section>
  <div class="container">
    <div class="mb-4 text-center md:px-24">
      {
        image && (
          <div class="mb-8">
            <Image
              src={image}
              class="mx-auto rounded-lg"
              height={150}
              width={150}
              alt={title}
            />
          </div>
        )
      }
      <ContentHeader title={title} />

      <Social source={social} class="social-icons-simple" />
      <div class="content">
        <Content />
      </div>
    </div>
  </div>
</section>
