---
import { markdownify } from "@lib/utils/textConverter";

interface Props {
  title: string;
  subTitle?: string;
}

const { title, subTitle } = Astro.props;
---
<div class="mb-8">
  <h1 transition:animate="slide" set:html={markdownify(title)} class="text-center text-3xl md:text-4xl font-bold" />

  {subTitle ? (
    <h3 set:html={markdownify(subTitle)} class="text-center md:text-lg" />
  ) : (
    <div class="mx-auto mt-4 block h-1 w-10 rounded-full bg-primary"></div>
  )}
</div>
