---
import type { CollectionEntry } from 'astro:content';

import Posts from '@components/Posts.astro';

interface Props {
  posts: CollectionEntry<'posts'>[];
}

const { posts } = Astro.props;
---

<div class="row gy-4 justify-center">
  <Posts posts={posts} fluid={false} class="mb-16" />
</div>
