---
import config from "@config/config.json";
import Base from "@layouts/Base.astro";
import Pagination from "@components/Pagination.astro";
import Posts from "@components/Posts.astro";
import { getAllPosts } from "@lib/contentParser";
import { sortByDate } from "@lib/utils/sortFunctions";

export async function getStaticPaths() {
  const posts = await getAllPosts();
  const totalPages = Math.ceil(posts.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        page: (i + 1).toString(),
      },
    });
  }
  return paths;
}

const { page } = Astro.params;
const posts = await getAllPosts();
const sortedPosts = sortByDate(posts);
const totalPages = Math.ceil(posts.length / config.settings.pagination);
const currentPage = page && !isNaN(Number(page)) ? Number(page) : 1;
const indexOfLastPost = currentPage * config.settings.pagination;
const indexOfFirstPost = indexOfLastPost - config.settings.pagination;
const currentPosts = sortedPosts.slice(indexOfFirstPost, indexOfLastPost);
---

<Base>
  <section>
    <div class="container">
      <Posts class="mb-16" posts={currentPosts} />
      <Pagination totalPages={totalPages} currentPage={currentPage} />
    </div>
  </section>
</Base>
